@import url('https://fonts.googleapis.com/css2?family=Pragati+Narrow:wght@400&display=swap');

/* Asegurar que el padding y borde se incluyan en el tamaño total del elemento */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Evitar overflow horizontal */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Evita la barra de desplazamiento horizontal */
}

/* info-container */
.info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(35, 31, 32);
    color: white;
    padding: 5px 10px;
    font-family: 'Pragati Narrow', sans-serif;
    font-weight: 200;
    width: 100%;
}

.info-container p {
    margin: 0px;
}

.info-container .login-link {
    color: white;
    text-decoration: none;
    transition: text-decoration 0.3s;
}

.info-container .login-link:hover {
    text-decoration: underline;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: top 0.3s;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

nav a {
    font-family: 'Pragati Narrow', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    margin: 0px 20px;
    position: relative;
}

/* Animación del subrayado para los elementos específicos de navegación */
nav a.nav-link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: inherit;
    padding: 10px;
}

/* Pseudo-elemento ::after para la línea de subrayado */
nav a.nav-link::after {
    content: '';
    position: absolute;
    left: 50%; /* Posicionamos inicialmente en el centro horizontal */
    bottom: 0;
    width: 0; /* Inicialmente sin ancho */
    height: 4px;
    background-color: rgb(255, 0, 0);
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out; /* Animamos el ancho y la posición horizontal */
    transform: translateX(-50%) scaleX(0); /* Centramos horizontalmente y inicialmente sin ancho */
    transform-origin: bottom center; /* Origen de la transformación en el centro horizontal */
}

/* Subrayado animado al pasar el mouse */
nav a.nav-link:hover::after {
    width: 100%; /* Expandimos el ancho al 100% */
    left: 0; /* Movemos el inicio al borde izquierdo */
    transform: translateX(0) scaleX(1); /* Volvemos a la posición original y mostramos */
}


/* Asegúrate de que el contenedor principal de navegación posicione sus hijos correctamente */
.nav-item {
    position: relative;
    display: inline-block;
    font-family: 'Pragati Narrow', sans-serif; /* Fuente para todo el nav-item */
}

/* Estilo del contenido del submenú (oculto por defecto) */
.submenu-content {
    display: none;
    margin: 11px;
    position: absolute;
    background-color: #f9f9f9;
    width: 900px; /* Ajusta el ancho según sea necesario */
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    box-shadow: 0px 20px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Estilo del bloque dentro del submenú */
.submenu-block {
    display: flex;
    padding: 20px;
    background-color: #fff;
    height: 400px; /* Ajusta la altura según sea necesario */
}

/* Mostrar el submenú cuando tiene la clase 'show' */
.nav-item.show .submenu-content {
    display: block;
}

/* Estilo para los enlaces del submenú */
.submenu-block a {
    display: block;
    margin: 10px 0;
    padding: 10px;
    text-decoration: none;
    color: #000;
    position: relative;
    transition: all 0.3s ease;
}

/* Subrayado en el texto al pasar el mouse */
.submenu-block a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px; /* Grosor de la línea de subrayado */
    background-color: #000;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.ui-submenu-item a:hover::after {
    transform: scaleX(1);
}

/* Estilo específico para la estructura deseada */
.item-submenu-header, .submenu-section-content {
    flex: 1; /* Distribuye el espacio de manera uniforme */
}
.item-submenu-header{
    border-right: 1px solid #000000; /* Línea separadora */
}

.item-submenu-header a {
    border-left: 4px solid transparent; /* Inicialmente transparente para ocupar espacio */
    padding-right: 20px; /* Espacio para el contenido */
    transition: border-left-color 0.3s ease; /* Transición de color del borde izquierdo */
}

.item-submenu-header a:hover {
    border-left-color: #000000; /* Cambia el color del borde izquierdo al pasar el mouse */
}


.submenu-section-content {
    padding-left: 20px; /* Espacio para el contenido */
}

/* Fuente específica para el submenú */
.item-submenu-header, .submenu-section-content {
    font-family: 'Pragati Narrow', sans-serif;
}

/* Quitar puntos de las listas */
.submenu-section-content ul {
    list-style-type: none;
    padding-left: 0; /* Elimina el relleno predeterminado de la lista */
}

/* Estilo para los elementos de la lista */
.submenu-section-content li {
    margin: 10px 0;
}

.submenu-section-content img {
    width: 20px; /* Ajusta el tamaño de la imagen según lo necesites */
    height: auto; /* Mantiene la proporción */
    margin-right: 10px; /* Espacio entre imagen y texto */
}

.submenu-section-content p{
    font-family: 'Pragati Narrow', sans-serif;
    text-decoration: underline;
    font-size: 20px;
    font-weight: 600;
}


/* css search */
.input-container {
    width: 180px; /* Ancho fijo del contenedor */
    position: relative;
    overflow: hidden; /* Asegura que el contenido no se desborde */
    margin-right: 10px; /* Ajuste el margen derecho según sea necesario */
}

.icon {
    position: absolute;
    right: 5px; /* Ajusta la posición derecha del ícono */
    top: calc(50% + 5px);
    transform: translateY(calc(-50% - 5px));
}


.input {
    width: 100%; /* El input toma el 100% del ancho del contenedor */
    max-width: 100%; /* No se expande más allá del contenedor */
    height: 30px; /* Reducir la altura del input */
    padding: 5px; /* Reducir el padding */
    transition: .2s linear;
    border: 2.5px solid black;
    font-size: 12px; /* Reducir el tamaño de fuente */
    text-transform: uppercase;
    letter-spacing: 1.5px; /* Ajustar el espaciado de letras */
    box-sizing: border-box; /* Incluir padding y borde en el tamaño total */
}

.input:focus {
    outline: none;
    border: 0.5px solid black;
    box-shadow: -5px -5px 0px black;
}

.input-container:hover > .icon {
    animation: anim 1s linear infinite;
}

@keyframes anim {
    0%,
    100% {
        transform: translateY(calc(-50% - 5px)) scale(1);
    }

    50% {
        transform: translateY(calc(-50% - 5px)) scale(1.1);
    }
}

/* Estilos previamente proporcionados para el carrito */
.cart-container {
    position: relative;
    margin-left: 10px;
    margin-right: 40px;
}

.cart-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;
    font-size: 36px;
    transition: color 0.3s;
    position: relative;
}

.cart-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.cart-link:hover {
    color: red;
}

/* Nuevos estilos para el menú desplegable */
.cart-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    width: 400px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: none;
    z-index: 1000; /* Asegura que el menú esté por encima de otros elementos */
}

.cart-items {
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.cart-item img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
}

.cart-item-info {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cart-item img {
    width: 90px; /* Ajusta el tamaño de las imágenes según tu preferencia */
    height: 90px; /* Ajusta el tamaño de las imágenes según tu preferencia */
    object-fit: cover;
    margin-right: 15px; /* Añadido un poco más de espacio entre la imagen y el texto */
}

.cart-item-name {
    font-weight: bold;
    max-width: calc(100% - 85px); /* Ajusta según el espacio restante después de la imagen */
}
.cart-item-price {
    margin-right: 10px;
    font-weight: bold;
}

.cart-item-gender {
    font-size: 12px;
    color: #888;
}

.cart-summary {
    padding: 10px;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total-products,
.total-amount {
    margin-bottom: 5px;
}

.checkout-button {
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.checkout-button:hover {
    background-color: #ff0000;
}
.empty-cart-button{
    background-color: rgb(35, 31, 32);
    color: #ffffff;
    font-size:'Pragati Narrow', sans-serif ;
    font-weight: 600;
    font-size: 12px;
}

.empty-cart-button:hover {
    background-color: #ff0000;
}


/* productos */
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh; /* Asegura que ocupe toda la altura de la ventana */
    margin-left: 50px; /* Ajusta el margen izquierdo según tu preferencia */
}

.producto-container {
    display: flex;
    gap: 20px;
}

.producto-imagen {
    flex: 1;
}

.img-zoom-container {
    border: 1px solid grey;
    padding: 10px;
    margin: 30px 90px;
    display: inline-block;
    position: relative;
    width: 100%; /* Asegura que el contenedor no se contraiga */
    max-width: 530px;
    height: auto;
    border-radius: 5px;
}

#producto-imagen {
    width: 100%;
    max-width: 530px; /* Reduce el tamaño de la imagen */
    height: auto;
    display: block;
    transition: opacity 0.5s ease-in-out; /* Transición de opacidad */
}

#producto-imagen.fade-out {
    opacity: 0; /* Opacidad 0 para efecto de desvanecimiento */
}

#producto-imagen.fade-in {
    opacity: 1; /* Opacidad 1 para efecto de aparición */
}

/* Contenedor de las miniaturas */
.thumbnail-container {
    display: flex;
    gap: 10px;
    justify-content: center;
}

/* Estilo de las miniaturas */
.thumbnail {
    width: 80px;
    height: 80px;
    cursor: pointer;
    border: 1px solid grey;
    transition: border-color 0.3s;
    border-radius: 5px;
}

.thumbnail:hover {
    border-color: grey;
}

.producto-detalles {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 70px;
}


.producto-titulo {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Pragati Narrow', sans-serif;
}

.producto-precio {
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}

.producto-disponibilidad, .producto-genero, .producto-talle {
    font-size: 16px;
    font-family: 'Pragati Narrow', sans-serif;
}

.talle-title{
    font-weight: bolder;
    padding-right: 10px;
}
.producto-genero {
    color: rgb(115, 123, 130);
}

.tabla-talles-link{
    color:  rgb(115, 123, 130);
    text-decoration: none;
}

.producto-talles {
    display: flex;
    gap: 10px;
}

.talle {
    padding: 20px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.talle.seleccionado {
    border: 2px solid rgb(0, 0, 0);
}

.producto-cantidad {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cantidad-btn {
    padding: 5px 10px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: #fff;
    border: 1px solid #ccc;
}
.cantidad-btn:hover {
    background-color: #000000; /* Cambia a un color más oscuro al pasar el mouse */
    color: #ffffff;
}

#cantidad {
    width: 50px;
    text-align: center;
}

#cantidad::-webkit-outer-spin-button,#cantidad::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.btn-agregar-carrito,.btn-comprar-ahora {
    padding: 20px 0;
    width: 500px; /* Ancho aumentado para ambos botones */
    text-align: center; /* Centra el texto horizontalmente */
    display: inline-block; /* Asegura que los botones se comporten correctamente */
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px;
    font-family: "Pragati Bold", sans-serif;
    font-size: 15px;
    font-weight: 500;
}


.btn-agregar-carrito {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
}

.btn-agregar-carrito:hover {
    outline: 2px solid rgb(0, 0, 0); /* Contorno al pasar el mouse */
}

.btn-comprar-ahora {
    background-color: #231f20;
    color: #ffffff;
    transition: background-color 0.3s ease; /* Añade una transición suave */
}

.btn-comprar-ahora:hover {
    background-color: #000000; /* Cambia a un color más oscuro al pasar el mouse */
}

.row-info {
    display: flex;
    gap: 70px;
    justify-content: flex-start; /* Alinea los elementos a la izquierda */
    border-top: 0.5px solid rgb(0, 0, 0);
    border-bottom: 0.5px solid rgb(0, 0, 0);
    width: 500px; /* Ancho del contenedor */
    padding-top: 20px;
    padding-bottom: 20px;
}

.col-sm-12 {
    flex: 1; /* Ocupa todo el espacio disponible */
    max-width: 250px; /* Ancho máximo para cada columna */
}

.contenedor-imagen-texto {
    display: flex;
    align-items: center;
}

.imagen-icono {
    width: 50px; /* Ajusta el ancho de la imagen según sea necesario */
    height: auto; /* Ajusta la altura automáticamente */
    margin-right: 12px;
}

.content-info {
    flex: 1;
    font-size: 12px; /* Ocupa todo el espacio disponible */
}

.home-support-title {
    font-weight: bold;
    font-size: 11px;
    margin: 0;
}

.licencia-producto{
    padding-top:10px ;
    justify-content: left;
}

.informacion-adicional {
    margin-top: 20px; /* Espacio superior para separar del contenido anterior */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.informacion-adicional button {
    margin-top: 10px; /* Espacio entre cada botón */
    padding: 10px 20px; /* Padding interno de los botones */
    border: 1px solid #ccc; /* Borde del botón */
    border-radius: 20px; /* Bordes redondos */
    background-color: #f0f0f0; /* Color de fondo */
    text-decoration: underline; /* Subrayado en todo el contenido del botón */
    cursor: pointer; /* Cambiar el cursor al pasar por encima */
    transition: background-color 0.3s, color 0.3s; /* Transición suave */
}

.informacion-adicional button:hover {
    background-color: #e0e0e0; /* Cambio de color de fondo al pasar el mouse */
}

/*tab*/
.elements-tab-1 {
    padding: 30px;
    margin: 20px 20px;
}

.nav-tabs {
    margin-bottom: 10px;
    list-style-type: none; /* Quitamos los estilos de lista */
    padding: 0;
}

.nav-tabs li {
    display: inline-block;
    margin-right: 5px; /* Espacio entre los elementos */
}

.nav-tabs li a {
    font-family: 'Proxima Nova', sans-serif;
    padding: 8px 12px;
    text-decoration: none;
    color: #333;
    border: 1px solid #000;
    background-color: #f9f9f9;
    transition: background-color 0.3s, color 0.3s; /* Transiciones */
}

.nav-tabs li a:hover {
    background-color: #000;
    color: #ffffff;
}

.tab-content {
    border-top: 1px solid #000;
    padding: 20px;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
    font-weight: 500;
    font-size: 20px;
}


/* Footer */
.footer-area {
    background-color: rgb(18, 18, 20);
    padding: 40px 0;
    color: #ffffff;
}

.footer-area .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap; /* Añadir flex-wrap para manejar el desbordamiento */
}

.footer-area .single-footer {
    flex: 1 1 20%; /* Ajustar según sea necesario */
    margin: 0 10px;
    min-width: 150px; /* Ajustar según sea necesario */
}

.footer-area img.new-era-logo-footer {
    max-width: 50%;
    height: center;
}

.footer-area .footer-title {
    font-size: 16px;
    margin-bottom: 20px;
    color: #ffffff;
    text-transform: uppercase;
}

.footer-area .footer-contact,
.footer-area .footer-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-area .footer-contact li,
.footer-area .footer-menu li {
    margin-bottom: 10px;
}

.footer-area .footer-contact li span {
    font-weight: bold;
}

.footer-area .footer-contact a,
.footer-area .footer-menu a {
    color: #ffffff;
    text-decoration: none;
    font-family: "Pragati Narrow";
}

.footer-area .footer-contact a:hover,
.footer-area .footer-menu a:hover {
    text-decoration: underline;
}

.footer-area .button-one {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

.footer-area .button-one:hover {
    background-color: #000;
}

@media (max-width: 991px) {
    .footer-area .container {
        flex-direction: column;
        align-items: center;
    }

    .footer-area .single-footer {
        text-align: center;
        margin-bottom: 20px;
    }
}

/*iconos de redes*/
.card {
    width: fit-content;
    height: fit-content;
    background-color: rgb(18, 18, 20);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}
  
/* for all social containers*/
.socialContainer {
    width: 52px;
    height: 52px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
}
/* instagram*/
.containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
}
/* twitter*/
.containerTwo:hover {
    background-color: #00acee;
    transition-duration: .3s;
}  
.socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
}
  
.socialSvg {
    width: 17px;
}
  
.socialSvg path {
    fill: rgb(255, 255, 255);
}
  
.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}
  
@keyframes slide-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Copyright Area */
.copyright-area {
    background-color: rgb(12, 12, 12); /* Color de fondo */
    color: rgb(85, 77, 79); /* Color del texto */
    padding: 20px 0; /* Espaciado superior e inferior */
    margin-top: 1px;
}

.copyright-area a {
    color: rgb(85, 77, 79); /* Color del texto del enlace */
    text-decoration: none;
}

.copyright-area a:hover {
    text-decoration: underline;
}